/*             navbar           */
.input-search-nav {
  padding: 0.4rem 2.5rem;
  margin: 0.2rem 3rem;
  border: none;
  background-color: #f1f1f1;
  width: 16.4rem;
}
.input-search-nav:focus {
  border: none;
}
.input-search-nav:focus::placeholder {
  transform: none;
  font-size: 0.9rem;
}
.icon-search-nav {
  position: absolute;
  top: 0.8rem;
  left: 3.8rem;
  color: #979595;
}
.icon-close-nav {
  position: absolute;
  top: 0.9rem;
  left: 18rem;
  color: #afafaf;
  cursor: pointer;
}
.iconsNavbar {
  display: inline-block;
  margin: 0.5rem 0.65rem;
}
.box-search {
  position: absolute;
  top: 3.2rem;
  width: 370px;
  height: 350px;
  border-radius: 8px;
}
.hover-user-search:hover {
  background-color: #fafafa;
}
.dropdown-toggle::after {
  display: none;
}
.boxShadow {
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
}
.pl-1 {
  padding-left: 1rem !important;
}

/*                     Main / Right                   */
.tag-a-acc {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.name-acc {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}
.a-blue-right {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  color: #29a7f1;
}
.see-all-right {
  display: flex;
  margin-top: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
.div-user {
  margin-top: 0.6rem;
  padding-left: 0.3rem;
}
.nameBio-user {
  padding: 0rem 0.9rem;
  font-size: 0.8rem;
}

/*                       Main / Right / Footer                    */
.footer-right ul {
  padding: 0;
  margin-top: 2rem;
  margin-left: -0.3rem;
  line-height: 15px;
}
.footer-right ul li {
  margin: 0rem 0.1rem;
  display: inline-block;
  font-size: 0.75rem;
}
.footer-right ul li a {
  color: #c7c7c7;
  text-decoration: none;
}
.footer-right p {
  color: #c7c7c7;
  font-size: 0.8rem;
}

/*                      Main / Left / Story                           */
.border-profile-story {
  width: 64px;
  border: 2px solid #f9533a00;
  border-radius: 50%;
  background: linear-gradient(-140deg, #e53f7f 70%, #f99d4c 70%);
}
.border-white-story {
  border: 2px solid #fff2f2;
  border-radius: 50%;
  width: 60px;
}
.iconLive {
  position: absolute;
  top: 47px;
  left: 15px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  border: 2px solid white;
  background: linear-gradient(145deg, #c40092 0%, #e40031 100%);
  font-size: 0.7rem;
  padding: 0rem 0.3rem;
}
.border-profile-story-live {
  background: linear-gradient(100deg, #af0dab 80%, #ca0875 40%);
}
.filter-img-live {
  animation: effectLive 1s infinite ease-in alternate;
}
@keyframes effectLive {
  0% {
    filter: contrast(1);
  }
  100% {
    filter: contrast(0.5);
  }
}

/*                       Swiper / Story                        */
:root {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: #afadad;
}
.swiper-button-next,
.swiper-button-prev {
  font-weight: bold;
}
.loading-story-div {
  z-index: 3;
  background: #6464641f;
  border-radius: 7px;
  display: none;
}
.storys-box:hover .loading-story-div {
  cursor: default;
  display: flex !important;
}

/*                       Main / Left / Post                             */
.fw-09500 {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.iconB-post:hover {
  filter: contrast(0);
}
.input-noPlace:focus::placeholder {
  transform: none;
  font-size: 0.9rem;
}
.comment-tag {
  text-decoration: none;
}
.comment-tag:hover {
  text-decoration: underline;
}
/*         modal/MoreOption          */
.modal-content {
  width: 0%;
}
.item-morOption {
  padding: 0.8rem;
}
.item-morOption:hover {
  opacity: 0.7;
}
.cursor {
  cursor: pointer;
}
.likeAnimation {
  display: block;
  animation: animLike 0.3s linear;
}
@keyframes animLike {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*                Modal/Share                 */
.fw-500 {
  font-weight: 500;
}
.close-btn-share {
  font-size: 1.2rem;
  position: absolute;
  right: 7px;
  top: 5px;
}
.box-modal-share {
  width: 550px;
  border-radius: 10px;
}
.user-modal-share {
  max-height: 220px;
}
@media (max-width: 576px) {
  .user-modal-share {
    max-height: 100%;
  }
  .box-modal-share {
    width: 100%;
    height: 100%;
  }
}

/*                  Modal/Comments              */
.fs-8 {
  font-size: 0.8rem;
}
.box-modal-comments {
  height: 90%;
  width: 75%;
}
@media (max-width: 991px) {
  .box-modal-comments {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .box-modal-comments {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .box-modal-comments {
    width: 90%;
  }
}

.input-send-comment:focus {
  box-shadow: 0px 0px !important;
}

/*                        Directs/Users                    */
.active-btn-direct {
  border-bottom: 1px solid black !important;
  color: black !important;
}

/*                          Directs/Direct                 */
.active-user {
  width: 20px;
  height: 20px;
  background: #78de45;
  border-radius: 50%;
  border: 3.5px solid white;
  position: absolute;
  bottom: 0px;
  right: 5px;
}
.fs-09 {
  font-size: 0.9rem;
}
.fs-08 {
  font-size: 0.8rem;
}

/*                    Direct/MessageText                    */
.LikeMessage {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f1f1f1;
  border: 2px solid white;
  position: absolute;
  bottom: -15px;
}
.active-user-directTop {
  width: 12px;
  height: 12px;
  background: #78de45;
  border-radius: 50%;
  border: 2.5px solid white;
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.details-message {
  display: none;
  opacity: 0.6;
}
.messages-fordetails:hover .details-message {
  display: flex;
}
.details-message:hover {
  opacity: 1;
}

/*                           Activity                           */
.box-activity {
  max-width: 500px;
  max-height: 350px;
  min-height: 100px;
  width: 500px;
  right: -40px;
  top: 40px;
}
.btn-follow:focus {
  box-shadow: 0px 0px;
}

/*                         Account                   */

.profile {
  padding: 0 9.5rem;
}
.bottom-profile {
  padding: 0 5.5rem;
}
@media (max-width: 991px) {
  .profile {
    padding: 0;
  }
  .bottom-profile {
    padding: 0;
  }
}

.btn-profile {
  letter-spacing: 1px;
}
.bg-none {
  background-color: #ffffff00;
}
.active-btn-profile {
  border-top: 1px solid black !important;
  opacity: 1 !important;
}
.btn-profile-sm {
  filter: grayscale(1);
  border: 0;
  background-color: #ffffff00;
}
.active-btn-profile-sm {
  filter: grayscale(0) !important;
}
.py-08 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.fw-700 {
  font-weight: 700;
}

/*                           Account/Posts                */
.img-post-hover:hover .show-likeANDcomment {
  display: flex !important;
}
.noPost-AllPosts {
  background: url(../../../public/imgs/instaLogo/allLogo.png);
  width: 65px;
  height: 65px;
  background-position: -190px 135px;
}

/*                          Account/Saved                      */
.saved-box-img {
  width: 50%;
  height: 100%;
  background: center center no-repeat;
  background-size: cover;
}

.saved-box-img.img1 {
  border-top-left-radius: 4px;
}
.saved-box-img.img2 {
  border-top-right-radius: 4px;
}
.saved-box-img.img3 {
  border-bottom-left-radius: 4px;
}
.saved-box-img.img4 {
  border-bottom-right-radius: 4px;
}
.mb-2p {
  margin-bottom: 2px;
}
.me-2p {
  margin-right: 2px;
}
.box-saved-hover {
  background-color: #00000030;
}
.box-saved-hover:hover {
  cursor: pointer;
  background-color: #00000000;
}

/*                              Account/tagged                    */
.contants-profile-logo {
  background: url(/public/imgs/instaLogo/allLogo.png);
  width: 65px;
  height: 65px;
  background-position: -255px -267px;
}

/*                               Settings                         */
.settings {
  padding: 0.9rem 0;
}
.settings:hover {
  background-color: #fafafa !important;
  border-left: 2px solid rgb(179 179 179) !important;
}
.settings.active {
  border-left: 2px solid black !important;
  font-weight: 500;
  background-color: #efefefcd !important;
}
.lineHeght-18 {
  line-height: 18px;
}

/*                              Explor                      */
.explorPostLikeComment {
  background-color: #00000070;
  display: none;
}
.explorPost:hover .explorPostLikeComment {
  display: flex;
}
