/*             navbar           */
.input-search-nav {
  padding: 0.4rem 2.5rem;
  margin: 0.2rem 3rem;
  border: none;
  background-color: #f1f1f1;
  width: 16.4rem;
}
.input-search-nav:focus {
  border: none;
  padding-left: 1rem;
}
.input-search-nav:focus::placeholder {
  transform: none;
  font-size: 0.9rem;
}
.icon-search-nav {
  position: absolute;
  top: 0.8rem;
  left: 3.8rem;
  color: #979595;
}
.icon-close-nav {
  position: absolute;
  top: 0.9rem;
  right: 3.1rem;
  color: #838080;
  cursor: pointer;
}
.iconsNavbar {
  display: inline-block;
  margin: 0.5rem 0.65rem;
}

/*                     Main / Right                   */
.tag-a-acc {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.name-acc {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}
.a-blue-right {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  color: #29a7f1;
}
.see-all-right {
  display: flex;
  margin-top: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
.div-user {
  margin-top: 0.6rem;
  padding-left: 0.3rem;
}
.nameBio-user {
  padding: 0rem 0.9rem;
  font-size: 0.8rem;
}

/*                       Main / Right / Footer                    */
.footer-right ul {
  padding: 0;
  margin-top: 2rem;
  margin-left: -0.3rem;
  line-height: 15px;
}
.footer-right ul li {
  margin: 0rem 0.1rem;
  display: inline-block;
  font-size: 0.75rem;
}
.footer-right ul li a {
  color: #c7c7c7;
  text-decoration: none;
}
.footer-right p {
  color: #c7c7c7;
  font-size: 0.8rem;
}

/*                      Main / Left / Story                           */
.border-profile-story {
  width: 64px;
  border: 2px solid #f9533a00;
  border-radius: 50%;
  background: linear-gradient(-140deg, #e53f7f 70%, #f99d4c 70%);
}
.border-white-story {
  border: 2px solid #fff2f2;
  border-radius: 50%;
  width: 60px;
}
.iconLive {
  position: absolute;
  top: 47px;
  left: 15px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  border: 2px solid white;
  background: linear-gradient(145deg, #c40092 0%, #e40031 100%);
  font-size: 0.7rem;
  padding: 0rem 0.3rem;
}
.border-profile-story-live {
  background: linear-gradient(100deg, #af0dab 80%, #ca0875 40%);
}
.filter-img-live {
  animation: effectLive 1s infinite ease-in alternate;
}
@keyframes effectLive {
  0% {
    filter: contrast(1);
  }
  100% {
    filter: contrast(0.5);
  }
}

/*                       Swiper / Story                        */
:root {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: #afadad;
}
.swiper-button-next,
.swiper-button-prev {
  font-weight: bold;
}

/*                       Main / Left / Post                             */
.fw-09500 {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.iconB-post:hover {
  filter: contrast(0);
}
.input-noPlace:focus::placeholder {
  transform: none;
  font-size: 0.9rem;
}
.comment-tag {
  text-decoration: none;
}
.comment-tag:hover {
  text-decoration: underline;
}
/*         modal/MoreOption          */
.modal-content {
  width: 0%;
}
.item-morOption:hover {
  opacity: 0.7;
}
.cursor {
  cursor: pointer;
}
.likeAnimation {
  display: block;
  animation: animLike 0.3s linear;
}
@keyframes animLike {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*                Modal/Share                 */
.fw-500 {
  font-weight: 500;
}
.close-btn-share {
  font-size: 1.2rem;
  position: absolute;
  right: 7px;
  top: 5px;
}
.box-modal-share {
  width: 550px;
  border-radius: 10px;
}
.user-modal-share {
  max-height: 220px;
}
@media (max-width: 576px) {
  .user-modal-share {
    max-height: 100%;
  }
  .box-modal-share {
    width: 100%;
    height: 100%;
  }
}

/*                  Modal/Comments              */
.fs-8 {
  font-size: 0.8rem;
}
.box-modal-comments {
  height: 90%;
  width: 75%;
}
@media (max-width: 991px) {
  .box-modal-comments {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .box-modal-comments {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .box-modal-comments {
    width: 90%;
  }
}
