/*             navbar           */
.logoInsta {
  padding: 0.6rem 5.3rem 0.2rem;
  cursor: pointer;
}
.input-search-nav {
  padding: 0.4rem 2.5rem;
  margin: 0.2rem 3rem;
  border: none;
  background-color: #f1f1f1;
  width: 16.4rem;
}
.input-search-nav:focus {
  border: none;
  padding-left: 1rem;
}
.input-search-nav:focus::placeholder {
  transform: none;
  font-size: 0.9rem;
}
.icon-search-nav {
  position: absolute;
  top: 0.8rem;
  left: 3.8rem;
  color: #979595;
}
.icon-close-nav {
  position: absolute;
  top: 0.9rem;
  right: 3.1rem;
  color: #838080;
  cursor: pointer;
}
.iconsNavbar {
  display: inline-block;
  margin: 0.4rem 0.65rem;
}
